Address = {{ node_list[item.name].public_address }}
Port = {{ network_port }}
Compression = {{ network_compression }}
Subnet={{ node_list[item.name].network_address }}/32

{% include "files/" + network_name + "/rsa_keys/" + item.name + ".pub" ignore missing %}
